.Track{

    display: flex;
    align-items: center; border-bottom: 1px solid rgba(256,256,256,0.8);
    justify-content: center;
}

.Track-action{
    
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.05rem;
    background-color: rgba(0,0,0,0);
    transition: color 0.25s;
    border: 0px;
    color:#fff
}
    
.Track-action:hover{
    color: rgba(265,265,265,0.5);        
    }
    
.Track-information{
    
    float: grow 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:180px;
    
}
.Track-information  p{
    color: rgba(256, 256, 256, 0.8);
    font-size: 2rem;
    padding: 1rem;
}
.Track-information iframe{
    min-width: 40vh;
    font-size: 2rem;
}
.Track-information iframe span{
    font-size: 4rem;
}

.Track-information h3{   
    margin-bottom: 0.22rem;
    
}
